.table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  border-bottom: 1px solid gray;
  text-align: left;
  padding-bottom: 10px;
}

.table-row {
  text-align: left;
  color: gray;
  border-bottom: 0.1px solid black;

  &:last-child {
    border-bottom: none;
  }
}

th,
td {
  padding: 20px;
}
